<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Inicio de Sesión</title>
  </head>

  <body>
    <header>
      <img
        tabindex="0"
        src="https://raw.githubusercontent.com/danielpqe/platzi-video/master/images/logo-platzi-video-BW2.png"
        alt="Logo de platzi"
        class="header__imagen"
      />
    </header>
    <section class="login">
      <section class="login__container">
        <h2 tabindex="0">Inicia sesión</h2>
        <form class="login__container--form">
          <input
            aria-label="Correo"
            type="text"
            class="input"
            placeholder="Correo"
          />
          <input
            aria-label="Contraseña"
            type="password"
            class="input"
            placeholder="Contraseña"
          />
          <button aria-label="Iniciar sesión" class="button">
            Iniciar sesión
          </button>
          <div class="login__container--remember-me">
            <label>
              <input
                aria-label="Recuérdame"
                type="checkbox"
                id="cbox1"
                value="checkbos"
              />Recuérdame
            </label>
            <a href="/" aria-label="Olvidé mi contraseña"
              >Olvidé mi contraseña</a
            >
          </div>
        </form>
        <section class="login__container--social-media">
          <div>
            <img
              src="https://img.icons8.com/ios/50/000000/google-logo.png"
            />Inicia sesión con Google
          </div>
          <div>
            <img
              src="https://img.icons8.com/android/24/000000/twitter.png"
            />Inicia sesión con Twitter
          </div>
        </section>
        <p class="login__container--register">
          No tienes niguna cuenta
          <a href="register.html" target="_blank">Regístrate</a>
        </p>
      </section>
    </section>
    <footer class="footer">
      <a href="/">Términos de uso</a>
      <a href="/">Declaración de privacidad</a>
      <a href="/">Centro de ayuda</a>
      <a href="/index.html">Home</a>
    </footer>
  </body>
</html>
